<h1>Add a New Entry</h1>

<form action="http://localhost:3000/create_directors">
  <div>
    <label>Name</label>
    <input type="text" name="name">
  </div>

  <div>
    <label>Bio</label>
    <input type="text" name="bio">
  </div>

  <div>
    <label>Date of Birth</label>
    <input type="text" name="dob">
  </div>

  <div>
    <label>Picture URL</label>
    <input type="text" name="image_url">
  </div>

  <div>
    <button>Create Entry</button>
  </div>
</form>
