<h1>Add a New Entry</h1>

<form action="http://localhost:3000/create_movies">
  <div>
    <label>Title</label>
    <input type="text" name="title">
  </div>

  <div>
    <label>Description</label>
    <input type="text" name="description">
  </div>

  <div>
    <label>Year</label>
    <input type="text" name="year">
  </div>

  <div>
    <label>Duration</label>
    <input type="text" name="duration">
  </div>


  <div>
    <label>Poster URL</label>
    <input type="text" name="image_url">
  </div>

  <div>
    <button>Create Entry</button>
  </div>
</form>
